* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.thanks {
    height: 100px;
    width: auto;
    background-color: skyblue;
}

body {
    background-color: green;
    display: grid;
    height: 1000px;
    grid-template-areas:
    'header header header'
    'main main main'
    'footer footer footer'
    ;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 80px 1fr 70px;
}

header,
footer,
main,
aside,
nav {
    background-color: #DDDDD2; 
    border: 1px solid skyblue;
    color: black;
    padding: 20px;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

aside {
    grid-area: sidebar;
}

footer {
    grid-area: footer;
}

h1 {
    text-align: center;
}

.deck {
    
    background-color: coral;
    border-radius: 10px;
    width: auto;

    display: grid;
    grid-template-rows: 1/2 1/2;
    
}

.card {
    
    border: 1px solid black;
    height: 230px;
    width: 550px;
    margin: 5px 20px 5px 20px;
    background-color: steelblue;
    border-radius: 20px;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-self: center;
    justify-items: center;
    
    
}

.gifcolumn {
    justify-self: center;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.rightgif,
.centergif,
.leftgif {
    display: grid;
    justify-self: center;
    border-radius: 10px;
    height: 150px;
    border: 1px solid black;

    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-rows: repeat(3, 1fr);
}

.gifs {
    height: auto;
    width: 300px;
}


.fourxpic {
    height: 200px;
    width: auto;
}


button {
    height: 50px;
    width: 120px;
}

.bevmenu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.bevmenu button {
    width: 200px;
    
}